.circle{
    height: 150px;
    width: 150px;
    background-color: #63e038;
    border-radius: 50%;
    line-height: 150px;
    text-align: center;
    color: white;
    font-size: 22px;
}

.bg-purple{
    background-color: purple;
}
.text-black{
    color: black;
}
.text-orange{
    color: orange;
}
