<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div id="app">
    <p v-if="mode == 1">Showing v-if directive content</p>
    <template v-else-if="mode == 2">
        <p>Bonus content</p>
        <p >Showing v-else-if</p>
    </template>
    <p v-else>showing v-else</p>
    <br>
    <i v-show="mode == 1">v-show</i>
    <br>
    <select name="" id="" v-model="mode">
        <option value="1">V-if</option>
        <option value="2">V-else-if</option>
        <option value="3">V-else</option>
    </select>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>