<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div id="app">
    <p>
        <input type="checkbox" id="example_checkbox" name="example_checkbox" value="checkbox_value" v-model="isPurple">
        <label for="example_checkbox">Purple</label>

        <select name="" id="" v-model="selectedColor">
            <option value="" >White</option>
            <option value="text-black">Text Black</option>
            <option value="text-orange">Text Orange</option>
        </select>
    </p>
    <!--Inside class a object will pass with key as class name and value as condition-->
    <div class="circle" v-bind:class="[circle_classes, selectedColor]">
        Hi
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>