.circle{
    height: 150px;
    width: 150px;
    background-color: #63e038;
    border-radius: 50%;
}

.circle{
    color: #ffffff;
    text-align: center;
    vertical-align: center;
}

.purple{
    background-color: #5d1a9a;
}

.text-black{
    color: black;
}

.text-orange{
    color: orange;
}